.about-page {
  background-color: #fff0d9;
  min-height: 400px;
  width: 80%;
  height: 60%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}

.page-title {
  background: #ffc559;
  box-shadow: 0 -3px 3px 5px #ffc559;
  height: 10%;
  width: 100%;
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0 ;
}

.slider {
  height: 90%;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0 0 10px 10px;
  font-family: verdana;
}

.slide-header {
  height: 150px;
  display: flex;
  margin: 10px 0 0 10px;
}

.name {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: #555;
}

.slide-header .image {
  background-image: url('../img/photo.png');
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 90% 40%;
  width: 130px;
  min-width: 130px;
  height: 150px;
  border-radius: 10px;
}

.status {
  margin-bottom: 10px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 208, 0);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link i {
  margin-right: 5px;
}

.link {
  text-decoration: none;
  color: black; 
  text-align: center;
}

.link:hover {
  color: #81a4bb;
}

.deserts {
  font-size: 11px;
  margin: 5px 10px ;
  text-align: justify;
}

.deserts p {
  margin-bottom: 5px;
}

.swiper-pagination {
  bottom: 5px !important;
}

.swiper-slide:nth-child(2) .image {
  background-image: url("../img/photo1.jpg");
  background-size: 170%;
  background-position: 45% 5%;
}

.swiper-slide:nth-child(3) .image {
  background-image: url("../img/photo2.jpg");
  background-size: 180%;
  background-position: 50% 35%;
}

.swiper-slide:nth-child(4) .image {
  background-image: url("../img/photo3.jpg");
  background-size: 240%;
  background-position: 75% 35%;
}

.swiper-slide:nth-child(5) .image {
  background-image: url("../img/photo4.jpg");
  background-size: 280%;
  background-position: 85% 65%;
}

.swiper-slide:nth-child(6) .image {
  background-image: url("../img/photo5.jpeg");
  background-size: 165%;
  background-position: 60% 48%;
}

.swiper-slide:nth-child(7) .image {
  background-image: url("../img/photo6.jpg");
  background-size: 175%;
  background-position: 35% 20%;
}

.swiper-slide:not(:nth-child(1)) .deserts {
  margin-top: 10px;
  font-size: 14px;
}

.deserts span {
  font-weight: bold;
  color: chocolate;
}

.swiper-slide {
  min-width: 250px;
}


:root {
  --swiper-theme-color: #ffc559;
}
 

