*, *::before, *::after {
    box-sizing: border-box;
  }
:root {
    --hue-neutral: 201;
    --hue-wrong: 0;
    --hue-correct: 100;
  }
  body {
      font-family: 'Roboto', sans-serif;
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 45%, 75%);
  }
  
.container {
    --hue: var(--hue-correct);
    width: 900px;
  max-width: 80%;
  background-color: hsl(var(--hue), 45%, 75%);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}
  .description {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
.audio {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}
.audio h2 {
  margin: 0 auto;
  font-size: 1.5rem;
  
}
.image {
  margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 15%;
    padding-top: 10px;
} 
.leo {
  width: 270px;
  height: 270px;
  margin: 0 auto;
}

.sound {
  width: 113px;
  height: 113px;
  margin: 0 auto;
    margin-top: 0;
    border-radius: 50%;
    animation: radial-pulse 1s 0.8s;
    
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(27, 88, 38, 0.61);
  }
 
  100% {
    box-shadow: 0 0 0 40px rgba(27, 88, 38, 0);
  }
}
.audiocall {
  cursor: pointer;
}
.button-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    margin: 20px 0;
  }

  .button {
    --hue: var(--hue-correct);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 50%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
  }
  .button:hover {
    border-color: black;
    box-shadow: 0 0 10px 2px;
    cursor: pointer;
  }
  
  .button.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .button.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-button, .next-button, .dont-know-button, .button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }