.dictionary-list {
    display: flex;
    flex-flow: column wrap;
    z-index: 0;
    text-align: center;
    align-items: center;
}

 .header {
    padding-top: 1em;
}
.dictionary-list.content {
    padding: 1em;
}
.dictionary-list.name h2 {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    padding: 1em 8em 0 0;
}
.dictionary-list.name {
    width: 35%;
    white-space: nowrap;
}
.dictionary-list.filter {
    background-color: #ffffff;
    flex-direction: row;
    opacity: 65%;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    margin-top: 1em;
    z-index: 0;
}
.filter-item {
    padding-right: 30px;
    white-space: nowrap;
}

.filter-item span {
    cursor: pointer;
    color: #000000;
}

.filter-item span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.dictionary-list .word-list {
    background-color: #ffffff;
    opacity: 65%;
    border-radius: 4px;
    padding: 0 36px;
}
.dictionary-list .word {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.dictionary-list .icon {
    padding: 0;
}
.dictionary-list .words {
    padding: 0 150px 0 0;
    margin-left: 10px;
}
.voice, .trash {
    height: 25px;
    width: 25px;
    padding: 0;
    cursor: pointer;
}

.eng-word {
    color: #EB7055;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
}
.ru-word {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}

.start {
    width: 145px;
    align-self: flex-end;
}
.dictionary-list .button {
    margin-top: 20px;
}